<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вся недвижимость</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Недвижимость</h1>
        <ul class="list-group mt-3">
            {% for estate in estates %}
                <li class="list-group-item">
                    ID: {{ estate[2] }},
                    Название: {{ estate[0] }},
                    Адрес: {{ estate[1] }},
                    Тип недвижимости: {{ estate[3] }},
                    Количество комнат: {{ estate[4] }},
                    Описание: {{ estate[5] }},
                    Статус: {{ 'Открыто' if estate[7] else 'Закрыто' }},
                    Владелец: {{ estate[6] }}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Вернуться на главную страницу</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
